<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <add name="PersistedDb" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=PersisteDocDemo.SqlServer;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  </configuration>