<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>

  </appSettings>
  <connectionStrings>
    <add name="PersistedDb"
         connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=PersistedDocDemo.IntegrationTests.SqlServer;Integrated Security=True;Pooling=False;Connect Timeout=30" />
  </connectionStrings>
</configuration>